{% extends 'base.html' %}

{% block head %}
<title>Silly Cipher Message</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Message</h1>

    <div class="bg-light" style="padding-left:5%;padding-right:5%">
        <br>
        {% for line in message %}
            <p>{{ line }}</p>
        {% endfor %}
        <br>
    </div>
    <br>
    <form action='/quiz/{{ quiz_id }}'>
        <button type="submit" class="btn btn-outline-danger">Try Again!</button>
    </form>
    <br>
    <form action="/">
        <button type="submit" class="btn btn-outline-success">Back To Start!</button>
    </form>
</div>
{% endblock %}
