{% extends 'base.html' %}

{% block head %}
<title>Silly Cipher Message</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1 class="text-center">Message</h1>

    <div class="bg-light" style="border-radius:20px;padding-left:2%;padding-right:2%">
        <br>
        {% for line in message %}
            <p>{{ line }}</p>
        {% endfor %}
        <form action='/quiz/{{ quiz_id }}'>
            <button type="submit" class="btn btn-outline-danger">Try Again!</button>
        </form>
        <br>
        <form action="/">
            <button type="submit" class="btn btn-outline-success">Back To Start!</button>
        </form>
        <br>
    </div>
</div>
{% endblock %}
