{% extends 'base.html' %}

{% block head %}
<title>Silly Cipher</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Silly Cipher</h1>

    <!-- START -->
    {% if quizzes|length > 0 %}
    <form action="/" method="POST">
        <p>Specify file to decrypt and answer questions to formulate decryption key</p>
        <select name="quiz_id" id="quiz_id">
            {% for quiz in quizzes %}
            <option value={{quiz.qid}}>{{quiz.qid}}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <input type="submit" name="button" value="Go To Quiz">
        <input type="submit" name="button" value="Delete Quiz">
    </form>
    <p>OOOOR</p>
    {% endif %}
    <p>Upload a questions and message file to the database</p>
    <!-- ADD -->
    <form enctype=multipart/form-data action='/' method='POST'>
        <p>Question File (a newline separated file of questions)</p>
        <input type="file" name="questions_file" id="question_file">
        <br>
        <p>Message File (encrypted message file)</p>
        <input type="file" name="encrypted_file" id="encrypted_file">
        <br>
        <br>
        <input type="submit" name="button" value="Add Quiz">
    </form>
    {% if last_created %}
        <p>Just added new quiz of ID {{ last_created }}!</p>
    {% endif %}
</div>
{% endblock %}
