{% extends 'base.html' %}

{% block head %}
<title>Silly Cipher</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Silly Cipher</h1>

    <!-- START -->
    {% if quizzes|length > 0 %}
    <form action="/" method="POST">
        <h2>Manage Registered Quizzes</h2>
        <p>Specify message to delete or decrypt. If the latter, be prepared to answer questions to formulate decryption key to use.</p>
        <select name="quiz_id" id="quiz_id">
            {% for quiz in quizzes %}
            <option value={{quiz.qid}}>{{quiz.qid}}</option>
            {% endfor %}
        </select>
        <br>
        <br>
        <input type="submit" name="button" value="Go To Quiz">
        <input type="submit" name="button" value="Delete Quiz">
    </form>
    {% endif %}
    <h2>Register New Quiz</h2>
    <p>Upload a questions and message file to use to create and add a new Quiz the database.</p>
    <form enctype=multipart/form-data action='/' method='POST'>
        <p>Question File (a newline separated file of questions)</p>
        <input type="file" name="questions_file" id="question_file">
        <br>
        <p>Message File (encrypted message file)</p>
        <input type="file" name="encrypted_file" id="encrypted_file">
        <br>
        <br>
        <input type="submit" name="button" value="Add Quiz">
    </form>
    {% if last_created %}
        <p>Last added quiz ID: {{ last_created }}</p>
    {% endif %}
</div>
{% endblock %}
