{% extends 'base.html' %}

{% block head %}
<title>Silly Cipher Quiz</title>
{% endblock %}

{% block body %}
<!--<div class="content">-->
<div class="container">
    <h1 class="text-center">Quiz {{ quiz_id }}</h1>

    <div class="bg-light" style="border-radius:20px">
        <br>
        <form action="/display/{{ quiz_id }}" method="POST" style="padding-left:2%;padding-right:2%">
            {% for question in questions %}
            <h4>{{question}}</h4>
            <input type="text" class="form-control" name="{{question}}" id="{{question}}">
            <br>
            {% endfor %}
            <button type="submit" class="btn btn-outline-success">Decrypt!</button>
        </form>
        <br>
        <form action="/" style="padding-left:2%;padding-right:2%">
            <button type="submit" class="btn btn-outline-danger">Abort!</button>
        </form>
        <br>
    </div>
</div>
{% endblock %}
