{% extends 'base.html' %}

{% block head %}
<title>Silly Cipher Quiz</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Quiz {{ quiz_id }}</h1>

    <form action="/display/{{ quiz_id }}" method="POST">
        {% for question in questions %}
        <h4>{{question}}</h4>
        <input type="text" class="form-control" name="{{question}}" id="{{question}}" style="width:50%">
        <br>
        {% endfor %}
        <button type="submit" class="btn btn-outline-success">Decrypt!</button>
    </form>
    <br>
    <form action="/">
        <button type="submit" class="btn btn-outline-danger">Abort!</button>
    </form>
</div>
{% endblock %}
