{% extends 'base.html' %}

{% block head %}
<title>Silly Cipher Quiz</title>
{% endblock %}

{% block body %}
<div class="content">
    <h1>Quiz {{ quiz_id }}</h1>

    <form action="/display/{{ quiz_id }}" method="POST">
        {% for question in questions %}
        <p>{{question}}</p>
        <input type="text" name="{{question}}" id="{{question}}">
        <br>
        {% endfor %}
        <br>
        <button type="submit" class="btn btn-outline-success">Decrypt!</button>
    </form>
    <br>
    <form action="/">
        <button type="submit" class="btn btn-outline-danger">Abort!</button>
    </form>
</div>
{% endblock %}
